<div style ='text-align: center;'>  
		<header class="jumbotron hero-spacer">
            <h1>Contacto</h1>
            <p>ventas@galaxyglass.com.mx </p>
           <p>Telefono oficina - 8340-79-38</p>
            <p><a href="/home/index" class="btn btn-primary btn-large">Regresar</a>
            </p>
</div>
      

<style>
    .google-maps {
        position: relative;
        padding-bottom: 35%; // This is the aspect ratio
        height: 30%;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>
 
<div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.2331141554123!2d-100.32832211084998!3d25.663566081687545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662be22c3dda261%3A0xc49b48c16a09fd25!2sCalle+16+de+Septiembre+909%2C+Independencia%2C+64720+Monterrey%2C+N.L.!5e0!3m2!1sen!2smx!4v1463010376259" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>


