<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/small-business.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container" style="padding-top: 30px;">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="/lomascampestre.jpg" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h4> Registrate y inicia el proceso para recibir una cotizacion, o llamanos y con gusto te atendemos!</h4>
        
               
                <a class="btn btn-primary btn-lg" href=/contacto/index>EN CONSTRUCCION</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">

                <div class="well text-center" style="color: orange; font-weight: bold;">
                    <img style="max-width: 200px; padding-right: 50px;" src="/CreditCard_logos.jpg">
                    ACEPTAMOS TARJETAS DE CREDITO
                    <img style="max-width: 200px; padding-left: 50px;" src="/CreditCard_logos.jpg">
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2><a href="/ventanas/premium"><img src="/logopremium.jpg" style="height: 45px; width: 180px"></a></h2>
                <p>• Eurovent Premium es la exclusiva línea de ventanas y puertas de lujo que
                        proporciona una sensación de bienestar y armonía en el interior de tu hogar</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2><a href="/ventanas/clasic"><img src="/euroventclasic.jpg" style="height: 45px; width: 180px"></a></h2>
                <p>• Eurovent es la marca líder en Puertas y Ventanas de Aluminio altamente eficiente con tecnología basada en diseños europeos.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2><a href="/ventanas/panorama"><img src="/panorama.jpg" style="height: 45px; width: 180px"></a></h2>
                <p>• La linea Panorama cuenta con diferentes soluciones para tus espacios, todo a un precio economico.</p>
        
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
